html, body {
    height: 100%;
}

body {
    background-color:#1b1c1d;
}

/* .ui.segment {
    padding-top: 3rem;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}

.ui.container {
    margin: 0 auto;
    width: 100%;
} */

.ui.form {
    margin: 0 auto;
    width: 50%;
}

.display {
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: large;
}

#temp {
    font-size: 3rem;
    margin-bottom: 0;
}