html, body {
    height: 100%;
}

#main {
    height: 100% !important;
}

.ui.segment {
    padding-top: 3rem;
}

.display {
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: large;
}

#temp {
    font-size: 3rem;
}